.soundboard-label {
    text-align: center;
}

*
{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input
{
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
}

body {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


.col {
    min-width: 86.5px;
    position: relative;
    overflow: visible;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

#successalert {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15;
    z-index: 5;
 }

#waitalert {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 5;
 }
